<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>

  <body>
    <h1><%= pageTitle %></h1>
    <% if (image.mediaQueries.length === 0) { %>
    <img
      alt="<%= imgAlt %>"
      src="<%= image.legacyImgUrl %>"
      srcset="<%= image.mobileImgUrl %> 2x"
    />
    <% } else { %>
    <picture>
      <% image.mediaQueries.forEach((mqObject) => { %>
      <source
        media="(min-width: <%= mqObject.minWidth %>px)"
        srcset="<%= mqObject.imgUrlAt1x %> 1x,
                <%= mqObject.imgUrlAt2x %> 2x"
      />
      <% }) %>
      <img
        alt="<%= imgAlt %>"
        src="<%= image.legacyImgUrl %>"
        srcset="<%= image.mobileImgUrl %> 2x"
      />
    </picture>
    <% } %>
  </body>
</html>
