<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
  </head>

  <body>
    <h1><%= pageTitle %></h1>
    <img
      alt="<%= imgAlt %>"
      src="https://via.placeholder.com/<%= image.legacyImgWidth %>"
      srcset="<%= image.imageWidths.map((imageWidth) => (`https://via.placeholder.com/${imageWidth} ${imageWidth}w`)).join() %>"
      sizes="<%= image.imageSizesAttr %>"
    />
  </body>
</html>
